
<label>Select a car make: </label>

<select ng-model="controller.selectedMake" ng-init="controller.selectedMake='0'">
    <option value="0" selected>
        --All Makes--
    </option>
    <option ng-repeat="make in controller.makes" value="{{make.id}}">
        {{make.name}}
    </option> 
</select>

<hr />
<ol>
    <li ng-repeat="car in controller.getCars()">
        <table  class="table" border="1">
            <tr>
                <td>
                    <strong ng-repeat="make in controller.makes|filter:{id: car.carMakeId}">{{make.name}}</strong>
                </td>
            </tr> 
            <tr>
                <td>{{car.shortDescription}}</td>
            </tr>
            <tr>
                <td>{{car.price|currency}}</td>
            </tr>
            <tr>
                <td><a href="#" ng-click="controller.showModal(car.id)">See full details</a></td>
            </tr>
        </table><br />
    </li>
</ol>

